In [1]:
import pandas as pd
import numpy as np

In [2]:
homeless_file = pd.read_excel("data/building_homeless_1718.xlsx")

In [3]:
homeless_file.head()

,Building IRN,Building Name,District IRN,District Name,County,Region,Open/Closed Status as of 09/18/18,School Type,Student Group,ELA 3rd Grade 2017-2018 % Proficient or above,...,Geometry End of Course 2017-2018 % Proficient or above,Integrated Math I End of Course 2017-2018 % Proficient or above,Integrated Math II End of Course 2017-2018 % Proficient or above,Biology End of Course 2017-2018 % Proficient or above,Four Year Grad Rate 2017,Five Year Grad Rate 2016,Attendance Rate 2017-2018,Enrollment 2017-2018,Percent of Total Enrollment 2017-2018,watermark
0,59,Ada Elementary School,45187,Ada Exempted Village,Hardin,Region 6,Open,Elementary School,Homeless,NC,...,NC,NC,NC,NC,NC,NC,NC,NC,NC,NaN
1,67,Ada High School,45187,Ada Exempted Village,Hardin,Region 6,Open,High School,Homeless,NC,...,NC,NC,NC,NC,NC,NC,NC,NC,NC,NaN
2,83,Sandusky Middle School,44743,Sandusky City,Erie,Region 2,Open,Middle School,Homeless,NC,...,NC,NC,NC,NC,NC,NC,93.4,10,2.0,NaN
3,102,Meigs Primary School,48520,Meigs Local,Meigs,Region 16,Open,Elementary School,Homeless,NC,...,NC,NC,NC,NC,NC,NC,NC,NC,NC,NaN
4,105,Meigs Intermediate School,48520,Meigs Local,Meigs,Region 16,Open,Elementary School,Homeless,NC,...,NC,NC,NC,NC,NC,NC,NC,NC,NC,NaN

In [4]:
bldg_irns = [729, 24687, 32060]
three_schools = homeless_file[homeless_file['Building IRN'].isin(bldg_irns)]

In [5]:
three_schools

,Building IRN,Building Name,District IRN,District Name,County,Region,Open/Closed Status as of 09/18/18,School Type,Student Group,ELA 3rd Grade 2017-2018 % Proficient or above,...,Geometry End of Course 2017-2018 % Proficient or above,Integrated Math I End of Course 2017-2018 % Proficient or above,Integrated Math II End of Course 2017-2018 % Proficient or above,Biology End of Course 2017-2018 % Proficient or above,Four Year Grad Rate 2017,Five Year Grad Rate 2016,Attendance Rate 2017-2018,Enrollment 2017-2018,Percent of Total Enrollment 2017-2018,watermark
143,729,Andrew J Rickoff,43786,Cleveland Municipal,Cuyahoga,Region 3,Open,Elementary School,Homeless,NC,...,NC,NC,NC,NC,NC,NC,85.2,35,7.9,NaN
1824,24687,Miles School,43786,Cleveland Municipal,Cuyahoga,Region 3,Open,Elementary School,Homeless,NC,...,NC,NC,NC,NC,NC,NC,90.2,34,8.1,NaN
2233,32060,Robert H Jamison School,43786,Cleveland Municipal,Cuyahoga,Region 3,Open,Elementary School,Homeless,NC,...,NC,NC,NC,NC,NC,NC,91,12,3.3,NaN

In [6]:
#replace all NC with NaNs so I can manipulate

three_schools.replace('NC', np.nan, inplace=True)

C:\Users\Rachael C. Amick\anaconda\Anaconda3\lib\site-packages\pandas\core\frame.py:3798: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)

In [7]:
#drop all columns with all NA values

three_schools.dropna(axis=1, how='all', inplace=True)

C:\Users\Rachael C. Amick\anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
three_schools.drop(columns=['District IRN', 'District Name'], inplace=True)

C:\Users\Rachael C. Amick\anaconda\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [9]:
three_schools

,Building IRN,Building Name,County,Region,Open/Closed Status as of 09/18/18,School Type,Student Group,Attendance Rate 2017-2018,Enrollment 2017-2018,Percent of Total Enrollment 2017-2018
143,729,Andrew J Rickoff,Cuyahoga,Region 3,Open,Elementary School,Homeless,85.2,35,7.9
1824,24687,Miles School,Cuyahoga,Region 3,Open,Elementary School,Homeless,90.2,34,8.1
2233,32060,Robert H Jamison School,Cuyahoga,Region 3,Open,Elementary School,Homeless,91.0,12,3.3